---
# Create by a Jinja2 template#

host_list:
{% set number = var1 | int -%}
{% for n in range( number ) %}
  - name: 
    provider: virtualbox
    group: {{var4}}
    ip: "{{var8}}{{n}}"
    vm_name: {{var4}}{{n +1}}
    mem: 512
    cpus: 1
    box: "{{var7[0]}}"
    box_url: "{{var7[1]}}"
    bootstrap: "bootstrap.yml"
    type: "linux"
    state: "present"

{% endfor %}

